    <div class="container">
        <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1>Cadastro Gestores</h1>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-sm-1">
                    <label>Nome:</label>
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="nome" [(ngModel)]="cadastros.nome"  />
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-sm-1">
                    <label>Matricula:</label>
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="matricula" id="matricula" [(ngModel)]="cadastros.matricula" />
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-sm-1">
                    <label>Nascimento:</label>
                </div>
                <div class="col-sm-4">
                    <input type="date" class="form-control" name="dataNasc" id="dataNasc" [(ngModel)]="cadastros.dataNascimento" />
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-sm-1">
                    <label>Setor:</label>
                </div>
                <div class="col-sm-4">
                    <select class="form-control" name="setor" id="setor" [(ngModel)]="cadastros.setor" >
                        <option value="Administrativo">Administrativo</option>
                        <option value="Tecnologia">Tecnologia</option>
                        <option value="Recursos humanos">Recursos humanos</option>
                        <option value="Help desk">Help desk</option>
                    </select>
                </div>
            </div>
            <br/>
            <div class="row justify-content-md-center">
                <div class="col-sm-5 text-center">
                    <button type="submit" class="btn btn-info">Salvar</button>
                </div>
            </div>
        </form>
    </div>